body{
  margin: 0 auto;
}
header{
  background-color: yellowgreen;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 0px;
}
.container-fluid{
  padding-bottom: 0px;
}
#header-content{
  margin: 0 auto;
  width: 1200px;
  #first-row-header{
    height: 57px;
  }
}
#getontop{
  font-size: 36px;
}
#social-icon-container{
  text-align: right;
  height: inherit;
  vertical-align: middle;
  line-height: 4;
  i{
    margin: 0px 6px;
  }
}
.small-font{
  font-size: 13px;
}
#mobile{
  width: 80%;
}
#button-container{
  margin-top: 40px;
  margin-bottom: 10px;
  .buttons{
    width: 30%;
    margin-right: 5px;
  }
}
#second-layer{
  background-color: #ffffff;
  padding-top:40px;
  padding-bottom: 50px;
  .image-container{
    text-align: center;
    .images{
      width: 50%;
    }
  }
  .image-title{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: yellowgreen;
  }
  .image-description{
    text-align: justify;
    color: dimgray;
  }
}
#third-layer{
  background-color:cadetblue;
  padding: 30px 20px 20px 20px;
  #video{
    width: 100%;
    height: 400px;
  }
}
#fourth-layer{
  background-color: lightyellow;
  padding-top: 30px;
  padding-bottom: 30px;
  .center-aligned{
    text-align: center;
  }
}
#fifth-layer{
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  .center-aligned{
    text-align: center;
  }
  p{
    font-size: 16px;
  }
  .buttons{
    width: 25%;
  }
}
#sixth-layer{
  background-color: #f5f8fa;
  padding-top: 30px;
  padding-bottom: 30px;
  .center-aligned{
    text-align: center;
  }
  a{
    color: yellowgreen;
    text-decoration: underline;
  }
}
.blue{
  color: cadetblue;
}

@media screen and (max-width: 1250px){
  #header-content{
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  #getontop, #social-icon-container{
    display: inline-block;
    width: 49.5%;
  }
  #social-icon-container{
    line-height: 3;
  }
}
@media screen and (min-width: 600px){
  #fifth-layer{
    .buttons{
      width: 150px;
    }
  }
}